# frontend settings
[serve]
address = "192.168.0.157"
port = 8080

[[proxy]]
rewrite = "/ws/"
backend = "ws://localhost:5000/ws/"

[[proxy]]
rewrite = "/api/"
backend = "http://localhost:5000/api"

[[proxy]]
rewrite = "/static/"
backend = "http://localhost:5000/static"


# backend settings
# [[proxy]]
# rewrite = "/api/v2/"
# backend = "https://localhost:5000"