* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    color: #221f1f;
}

header {
    display: block;
}

@media (min-width: 768px) {
    .layout {
        padding-left: 16px;
        padding-right: 16px;
    }
}

button, .button {
    cursor: pointer;
}

button:focus {
    box-shadow: none;
    z-index: 1;
}

svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

a {
    color: #3e77aa;
    cursor: pointer;
    text-decoration: none;
}

/* HEADER SECTION START */

header {
    background-color: #221f1f;
}

.layout {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.header-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 72px;
}

.header-menu {
    margin-right: 16px;
}

.header-bth {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: none;
    transition: all .2s ease-in-out;
}

.menu__toggle {
    display: none;
    margin-right: 16px;
    background-color: #fff3;
    color: #fff;
}

@media (hover: hover) {
    .menu__toggle:hover {
        background-color: #fff6;
    }

    .button_color_green:hover {
        background-color: #00bc52;
        color: #fff;
    }

    .lang-header__item .lang__link--active:hover {
        color: #fff;
    }

    .lang-header__item .lang__link--possible:hover {
        text-decoration: none;
        color: #f84147;
    }

    .header__button:hover {
        background-color: #fff3;
    }
}

@media (min-width: 1024px) {
    .menu__toggle {
        display: flex;
    }
}

@media (min-width: 1280px) {
    .menu__toggle {
        margin-right: 24px;
    }
}

button .button {
    line-height: normal;
}

button i {
    margin-right: 16px;
}

.button--with-icon {
    align-items: center;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
}

.button--medium {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.button, .button:hover {
    text-decoration: none;
}

.header-catalog {
    margin-right: 16px;
}

.button {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Arial, 'Segoe UI', Roboto, Helvetica, sans-serif;
    margin: 0;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    transition-duration: .2s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
}

.button--with-icon svg {
    fill: currentColor;
    flex-shrink: 0;
    margin-right: 12px;
}

.button svg {
    transition: .2s;
    transition-property: fill;
    transition-timing-function: ease-in-out;
}

.header-bth:hover {
    background-color: #fff3;
}

.header-logo {
    display: block;
    margin-right: 24px;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

@media (min-width: 1280px) {
    .header-logo img {
        width: 240px;
    }
}


.header-search {
    margin-right: 8px;
}

.header-search {
    flex-grow: 1;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #122538;
}

.search-form__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    transition: all .25s ease-in-out;
}

.search-form__input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .search-form__input-wrapper {
        border-radius: 3px 0 0 3px;
    }
}

.search-form__input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    font-size: 15px;
}

@media (min-width: 768px) {
    .search-form__input {
        padding-left: 40px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 104.906 14.32l5.387 5.387a1 1 0 001.414-1.414l-5.387-5.387A8 8 0 0010 2zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 12px;
    }
}

input {
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
}

input, textarea {
    appearance: none;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 0px;
    font-size: 16px;
    outline: none;
    transition: border .2s ease-in-out;
}

@media (min-width: 768px) {
    input, textarea {
        font-size: 14px;
    }
}

.search-form__clear {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: #fff;
}

.search-form__clear svg {
    fill: #3e77aa;
    width: 16px;
    height: 16px;
}

.search-form__clear:hover {
    svg {
        fill: #f84147;
    }
}

.search-form__clear
button, input[type="submit"] {
    outline: none;
}

.search-form__submit {
    display: inline-block;
    margin: 0;
    border-radius: 0 3px 3px 0;
    background-color: #00a046;
    color: #fff;
}

.button_size_medium {
    font-size: 16px;
    height: 40px;
}

.header-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ol, ul {
    list-style: none;
}

.header-actions__item--language {
    display: none;
}

@media (min-width: 1024px) {
    .header-actions__item--language {
        display: block;
    }
}

.header-actions__component {
    display: block;
    margin-left: 8px;
}

@media (min-width: 1280px) {
    .header-actions__component {
        margin-left: 16px;
    }
}

.lang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lang-header__item .lang__link {
    display: inline-flex;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    align-items: center;
}

.lang__link {
    display: inline-flex;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 32px;
    color: #221f1f;
    align-items: center;
}

.lang-header__item .lang__link--active {
    background-color: initial;
    color: #797878;
}

.lang-header__item {
    margin-left: 0;
    border-left: 1px solid #797878;
}

.lang-header__item .lang__link img {
    padding-right: 8px;
}

.lang__item {
    margin-left: 0px;
}



.lang__link--active {
    border-color: #00a046;
    background-color: #e5f5ec;
}


/* orders section */
.header-actions__item--user {
    display: none;
}

@media (min-width: 768px) {
    .header-actions__item--user {
        display: block;
    }
}


.header__button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: none;
    transition: all .2s ease-in-out;
}

/* HEADER SECTION END */