html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    color: #221f1f;
}

header {
    display: block;
}

button, .button {
    cursor: pointer;
}

button:focus {
    box-shadow: none;
    z-index: 1;
}

svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

a {
    color: #3e77aa;
    cursor: pointer;
    text-decoration: none;
}


h3 {
    font-size: 16px;
}

@media (min-width: 1024px) {
    h3 {
        font-size: 20px;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, .hxl, .hxxl, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

section, footer, header {
    display: block;
}

/* HEADER SECTION START */

header {
    background-color: #221f1f;
}

.layout {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

@media (min-width: 768px) {
    .layout {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1024px) {
    .layout {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1280px) {
    .layout {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.layout_with_sidebar {
    display: flex;
    flex-direction: row-reverse;
}

.header-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 72px;
}

.header-menu {
    margin-right: 16px;
}

.header-bth {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: none;
    transition: all .2s ease-in-out;
}

.menu__toggle {
    display: none !important;
    margin-right: 16px;
    background-color: #fff3;
    color: #fff;
}

@media (hover: hover) {
    .menu__toggle:hover {
        background-color: #fff6;
    }

    .button_color_green:hover {
        background-color: #00bc52;
        color: #fff;
    }

    .lang-header__item .lang__link--active:hover {
        color: #fff;
    }

    .lang-header__item .lang__link--possible:hover {
        text-decoration: none;
        color: #f84147;
    }

    .header__button:hover {
        background-color: #fff3;
    }
}

@media (min-width: 1024px) {
    .menu__toggle {
        display: flex !important;
    }
}

@media (min-width: 1280px) {
    .menu__toggle {
        margin-right: 24px;
    }
}

button .button {
    line-height: normal;
}

button i {
    margin-right: 16px;
}

.button--medium {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.button, .button:hover {
    text-decoration: none;
}

.header-catalog {
    margin-right: 16px;
}

.button {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Arial, 'Segoe UI', Roboto, Helvetica, sans-serif;
    margin: 0;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    transition-duration: .2s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
}

.button--with-icon svg {
    fill: currentColor;
    flex-shrink: 0;
    margin-right: 12px;
}

.button svg {
    transition: .2s;
    transition-property: fill;
    transition-timing-function: ease-in-out;
}

.header-bth:hover {
    background-color: #fff3;
}

.header-logo {
    display: block;
    margin-right: 24px;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

@media (min-width: 1280px) {
    .header-logo img {
        width: 240px;
    }
}


.header-search {
    margin-right: 8px;
}

.header-search {
    flex-grow: 1;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #122538;
}

.search-form__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    transition: all .25s ease-in-out;
}

.search-form__input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .search-form__input-wrapper {
        border-radius: 3px 0 0 3px;
    }
}

.search-form__input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    font-size: 15px;
}

@media (min-width: 768px) {
    .search-form__input {
        padding-left: 40px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 104.906 14.32l5.387 5.387a1 1 0 001.414-1.414l-5.387-5.387A8 8 0 0010 2zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 12px;
    }
}

input {
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
}

input, textarea {
    appearance: none;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 0px;
    font-size: 16px;
    outline: none;
    transition: border .2s ease-in-out;
}

.search-form__clear {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: #fff;
}

.search-form__clear svg {
    fill: #3e77aa;
    width: 16px;
    height: 16px;
}

.search-form__clear:hover {
    svg {
        fill: #f84147;
    }
}

.search-form__clear
button, input[type="submit"] {
    outline: none;
}

@media (max-width: 768px) {
    .search-form__submit {
        /* margin: -1px;
        padding: 0;
        height: 1px !important;
        width: 1px !important;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden !important; */
        display: none !important;
    }
}

.search-form__submit {
    display: inline-block;
    margin: 0;
    border-radius: 0 3px 3px 0;
    background-color: #00a046;
    color: #fff;
}



.button_size_medium {
    font-size: 16px;
    height: 40px;
}

.header-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ol, ul {
    list-style: none;
}

.header-actions__item--language {
    display: none;
}

@media (min-width: 1024px) {
    .header-actions__item--language {
        display: block;
    }
}

.header-actions__component {
    display: block;
    margin-left: 8px;
}

@media (min-width: 1280px) {
    .header-actions__component {
        margin-left: 16px;
    }
}

.lang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lang-header__item .lang__link {
    display: inline-flex;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    align-items: center;
}

.lang__link {
    display: inline-flex;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 32px;
    color: #221f1f;
    align-items: center;
}

.lang-header__item .lang__link--active {
    background-color: initial;
    color: #797878;
}

.lang-header__item + .lang-header__item {
    margin-left: 0;
    border-left: 1px solid #797878;
}

.lang-header__item .lang__link img {
    padding-right: 8px;
}

.lang__item {
    margin-left: 0px;
}



.lang__link--active {
    border-color: #00a046;
    background-color: #e5f5ec;
}


/* orders section */
.header-actions__item--user {
    display: block;
}

/* @media (min-width: 768px) {
    .header-actions__item--user {
        display: block;
    }
} */

.header-actions__item--notifications {
    display: none;
}

@media (min-width: 768px) {
    .header-actions__item--notifications {
        display: block;
    }
}

.header-actions__item--orders {
    display: none;
}

@media (min-width: 768px) {
    .header-actions__item--orders {
        display: block;
    }
}

.header__button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: none;
    transition: all .2s ease-in-out;
}

/* HEADER SECTION END */




/* FOOTER SECTION START */

    /* FOOTER TOP START */

        /* inner footer top start */

.app-footer {
    order: 3;
    margin-top: auto;
}

.footer-wrapper {
    margin-top: calc(var(--global-spacer) * 20);;
}

.footer-section {
    padding-top: calc(var(--global-spacer) * 4);
    padding-bottom: calc(var(--global-spacer) * 4);
    background-color: var(--global-light-blue);
}

.footer-stores {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (min-width: 768px) {
    .footer-stores {
        flex-direction: row;
    }
}

.footer-stores__heading {
    margin-bottom: 16px;
    font-size: 18px;
    color: #fff;
}

@media (min-width: 768px) {
    .footer-stores__heading {
        flex: 1;
        margin-bottom: 0;
        text-align: center;
        font-size: 20px;
    }
}

.footer-stores__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 768px) {
    .footer-stores__buttons {
        margin-left: 16px
    }
}

.footer-stores__item + .footer-stores__item {
    margin-left: 16px;
}

.footer-stores__button {
    display: block;
}

.footer-stores__button img {
    height: 40px;
}

.footer {
    background-color: var(--global-black-5);
}

.footer-top {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--global-spacer) * 6);
    padding-bottom: calc(var(--global-spacer) * 6);
}

@media (min-width: 768px) {
    .footer-top {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: calc(var(--global-spacer) * 4);
    }
}

.footer-top__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: calc(var(--global-spacer) * 4);
    padding-bottom: calc(var(--global-spacer) * 4);
    border-bottom: 1px solid var(--global-black-20);
}

@media (min-width: 768px) {
    .footer-top__social {
        align-items: flex-start;
        width: 33.3333333333%;
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentColor;
    }
}

@media (min-width: 1024px) {
    .footer-top__social {
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: calc(var(--global-spacer) * 4);
        padding-bottom: calc(var(--global-spacer) * 4);
        border-bottom: 1px solid var(--global-black-20);
    }
}

@media (min-width: 1280px) {
    .footer-top__social {
        align-items: flex-start;
        flex-direction: column;
        width: 20%;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.button--small {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}

.button--small svg {
    height: 16px;
    width: 16px;
}

.button_type_link, .button--link {
    background: none;
    border: none;
    color: #3e77aa;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.button--link:hover {
    color: #ff7878;
}

.button--with-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-top__schedule {
    justify-content: flex-start;
    margin-right: calc(var(--global-spacer) * 4);
}

@media (min-width: 1024px) {
    .footer-top__schedule {
        margin-bottom: 0;
        margin-right: calc(var(--global-spacer) * 4);
    }
}

.socials__list {
    display: flex;
    flex-direction: row;
}

.socials__link {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    opacity: .85;
    transition: all .2s ease;
}

@media (hover: hover) {
    .socials__link:hover {
        opacity: 1;
    }
}

.socials__link--facebook {
    background-color: #506098;
}

.socials__link--twitter {
    background-color: #76c9fd;
}

.socials__link--youtube {
    background-color: #e90000;
}

.socials__link--instagram {
    background: linear-gradient(
        45deg,
        #ffb700 14.65%,
        #ff6800 31.68%,
        #cb217d 54.72%,
        #7e00aa 85.35%);
}

.socials__link--viber {
    background-color: #7d3daf;
}

.socials__link--telegram {
    background-color: #08c;
}

.socials__link svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    fill: #fff;
}

.socials__list-item + .socials__list-item {
    margin-left: 8px;
}

        /* inner footer top end */

        /* inner footer bot start */

.footer-top__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media (min-width: 768px) {
    .footer-top__links {
        width: 66.6666666667%;
    }
}

@media (min-width: 1024px) {
    .footer-top__links {
        flex-wrap: nowrap;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .footer-top__links {
        width: 80%;
    }
}

.footer-links {
    width: 100%;
    margin-bottom: calc(var(--global-spacer) * 4);
}

@media (min-width: 768px) {
    .footer-links {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .footer-links {
        width: 25%;
        margin-bottom: 0;
    }
}

.footer-links__item {
    margin-top: calc(var(--global-spacer) * 2);
    margin-right: calc(var(--global-spacer) * 2);
    margin-left: calc(var(--global-spacer) * 2);
}

.footer-links__label {
    font-size: 12px;
    color: var(--global-black-60);
}

.footer-links__item a {
    font-size: var(--common-font-size);
}

        /* inner footer bot end */
    
    /* FOOTER TOP END */

    /* FOOTER BOT START */

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: calc(var(--global-spacer) * 4);
    padding-bottom: calc(var(--global-spacer) * 4);
    border-top: 1px solid var(--global-black-20);
}

.footer-payments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: calc(var(--global-spacer) * 4);
}

@media (min-width: 768px) {
    .footer-payments {
        justify-content: flex-start;
        width: auto;
        margin-bottom: 0;
        margin-right: calc(var(--global-spacer) * 4);
    }
}

.payments-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.payments-buttons__item + .payments-buttons__item {
    margin-left: 8px;
}

.payments-buttons__button {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.payments-buttons__button img {
    width: 72px;
    height: 32px;
}

.footer-copyright {
    font-size: 12px;
}

.footer-copyright .footer-copyright--gray {
    color: var(--global-black-60);
}

    /* FOOTER BOT END */

/* FOOTER SECTION END */


/* MODAL AUTH SECTION START */

.single-modal-window {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .single-modal-window {
        max-height: 100vh;
        padding: calc(var(--global-spacer) * 6);
    }
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
}

.modal_background_show_animation {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    /* animation-timeline: 0; */
}

.modal__holder {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
}

@media (min-width: 768px) {
    .modal__holder {
        height: auto;
        max-height: 100%;
        margin: 0 auto;
        border-radius: calc(var(--global-spacer) * 2);
        box-shadow: 0 8px 40px #00000052;
    }
}

.modal_holder_show_animation {
    animation-name: zoomIn;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}



@media (min-width: 768px) {
    .modal__holder--small-medium {
        margin-top: 10vh;
        max-width: 440px;
    }
}

@media (min-width: 1280px) {
    .modal__holder--small-medium {
        margin-top: 20vh;
        max-width: 440px;
    }
}

.modal__header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    height: 57px;
    padding-left: calc(var(--global-spacer) * 4);
    padding-right: calc(var(--global-spacer) * 17);
    box-sizing: border-box;
    border-bottom: 1px solid var(--global-black-10);
}

@media (min-wdith: 768px) {
    .modal__header {
        padding-left: calc(var(--global-spacer) * 6);
        padding-right: calc(var(--global-spacer) * 6);
    }
}

.modal__heading {
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .modal__heading {
        font-size: 24px;
    }
}

.modal__close {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #fffc;
    border: none;
    border-radius: calc(var(--global-spacer) * 2);
    outline: none;
    padding: 0;
    transition: all .2s ease;
    cursor: pointer;
}

.modal__close svg {
    width: 24px;
    height: 24px;
    fill: var(--global-black-60);
    transition: all .2s ease;
}

.modal__content {
    max-height: 100%;
    padding: calc(var(--global-spacer) * 4);
    box-sizing: border-box;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .modal__content {
        padding: calc(var(--global-spacer) * 6);
    }
}


    /* AUTH FORM START */
.email {
    margin-bottom: calc(var(--global-spacer) * 4);
}

.form__caption, .form__label {
    color: #797878;
    font-size: 12px;
}

.form__label {
    display: block;
    margin-bottom: 4px;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border .2s ease-in-out;
}

@media (min-width: 768px) {
    .input, .textarea {
        font-size: 14px;
    }
}

input {
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    transition: border-color 0.3s ease;
}

input, input[_size_small] {
    height: 32px;
}

input[_size_medium] {
    height: 40px;
}

input:hover, textarea:hover {
    border-color: #a6a5a5;
}

input:focus, textarea:focus {
    /* border-color: #3e77aa; */
    border-color: #76c9fd;
    border-width: 3px;
    /* border: 3px solid var(--global-light-blue); */
}

.email__input {
    width: 100%;
}

.form__row--with-button, .form__row_with_button {
    display: flex;
    flex-direction: row;
}

.password__input {
    width: 100%;
}

.form__toggle-password {
    flex-shrink: 0;
    justify-content: center;
    width: 40px;
}

.form__toggle-password span i {
    width: 24px;
    height: 24px;
}

.form__toggle-password svg {
    fill: #3e77aa;
}

.form__toggle-password:hover svg {
    fill: #ff7878;
}

.button_type_link {
    color: #3e77aa;
    cursor: pointer;
}

.indentation__bottom {
    margin-bottom: calc(var(--global-spacer) * 4);
}

.button--green, .button_color_green {
    background-color: #00a046;
    color: #fff;
}

button.button, input.button {
    line-height: normal;
}

.submit-button {
    width: 100%;
}

.submit-button_bottom {
    margin-bottom: calc(var(--global-spacer) * 4);
}

.link-button__bottom {
    margin-bottom: calc(var(--global-spacer) * 4);
}

.link-button {
    width: 100%;
}

    /* AUTH FORM END */


/* MODAL AUTH SECTION END */




/* MAIN PAGE SECTION START */

.content_type_main {
    border-left: none;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 8px;
    width: 100%;
}

@media (min-width: 768px) {
    .content_type_main {
        padding-top: 16px;
    }
}

@media (min-width: 1024px) {
    .content_type_main {
        padding-top: 24px;
    }
}

@media (min-width: 1025px) {
    .content_type_main {
        border-left: 1px solid #e9e9e9;
        padding-left: 40px;
        padding-top: 40px;
        width: calc(100% - 300px);
    }
}

.top-wrap {
    position: relative;
    min-height: 200px;
    padding-bottom: 66.5%;
}

@media (min-width: 420px) {
    .top-wrap {
        min-height: auto;
        padding-bottom: 33.4%;
    }
}

@media (min-width: 768px) {
    .top-wrap {
        margin-bottom: 40px;
    }
}

.top-wrap__slider {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.simple-slider {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.simple-slider__holder {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    transition: max-height linear .25s;
}

.simple-slider__holder .carousel {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    transition: max-height linear .25s;
}

.simple-slider__list {
    display: flex;
    transition-property: transform;
}

.simple-slider__item {
    flex-shrink: 0;
}

.main-slider__slide {
    position: relative;
}

.main-slider_theme_light {
    background-color: #fff;
}

section {
    display: block;
}

.simple-slider__item section {
    background: #fff;
}

    /* content subsection start */

.main-goods {
    margin-bottom: 64px;
}

.main-goods__heading {
    margin-bottom: 16px;
    font-size: 20px;
}

.main-goods__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-goods__cell {
    position: relative;
    width: 50%;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .main-goods__cell {
        width: 25%;
    }
}

@media (min-width: 1280px) {
    .main-goods__cell {
        width: 20%;
    }
}

@media (min-width: 1440) {
    .main-goods__cell {
        width: 16.66667%;
    }
}

.tile {
    position: relative;
    height: 100%;
    padding: 16px;
}

.tile__picture {
    position: relative;
    display: block;
    height: 170px;
    margin-bottom: 16px;
    text-align: center;
}

.tile__picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 140px;
    max-width: 100%;
    vertical-align: middle;
}

.tile__title {
    display: block;
    height: 40px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}

.tile__title:hover {
    color: #f84147;
    text-decoration: underline;
}

.wish-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile .wish-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

.wish-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-bottom: var(--global-spacer);
    background: transparent;
    padding: 0;
    border: none;
    border-radius: var(--global-spacer);
    cursor: pointer;
}

.wish-button:hover {
    background-color: #f4faf6;
}


.wish-button svg {
    vertical-align: middle;
    transition: all .2s ease;
    fill: var(--global-yellow);
}

.wish-button {
    cursor: pointer;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  ADD FOCUS */

.tile__prices-old {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    text-decoration: line-through;
    color: #a6a5a5;
}

.currency {
    margin-left: 4px;
}

.tile__price_color_red {
    color: #f84147;
}

.tile__prices {
    font-size: 24px;
}

.tile__price-currency {
    font-size: 18px;
}

    /* content subsection end */

    /* sidebar subsection start */

.sidebar {
    display: none;
    flex-shrink: 0;
    width: 250px;
}

@media (min-width: 1024px) {
    .sidebar {
        display: block;
    }
}

.sidebar_type_main {
    box-sizing: border-box;
    display: none;
    width: 300px;
}

@media (min-width: 1025px) {
    .sidebar_type_main {
        display: block;
    }
}


@supports (position:sticky) {
    .sidebar_type_main {
        align-self: flex-end;
        bottom: 0;
        position: -webkit-sticky;
        position: sticky;
        transform: translateZ(0);
    }
}

.menu-wrapper {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    display: none;
    border-radius: calc(var(--global-spacer) * 2);
    background-color: #fff;
}

.menu-wrapper_state_static {
    position: relative;
    top: 0;
    z-index: 0;
    animation: none;
    display: block;
    background-color: transparent;
}

.menu-categories {
    position: relative;
    width: 300px;
    border-radius: var(--global-spacer);
    padding-top: calc(var(--global-spacer) * 6);
    padding-bottom: calc(var(--global-spacer) * 3);
    background-color: #fff;
}

.menu-categories__item:first-child {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.menu-categories__link {
    position: relative;
    z-index: 10;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    padding-left: calc(var(--global-spacer) * 3);
    padding-right: calc(var(--global-spacer) * 3);
    box-sizing: border-box;
    font-size: var(--common-font-size);
    line-height: 31px;
    transition: all .2s ease;
    height: 32px;
    color: var(--global-black);
}

.menu-categories__link:hover {
    color: var(--global-light-blue);
    text-decoration: none;
}

.menu-categories__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: calc(var(--global-spacer) * 2);
    text-align: center;
}

.menu-categories__icon svg {
    vertical-align: middle;
    fill: var(--global-black-60);
}

.button--with-icon, .button_with_icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-links__help {
    justify-content: flex-start;
    border-top: 1px solid var(--global-black-10);
    font-size: var(--common-font-size);
    border-radius: 0;
    color: var(--global-black);
}

.main-links__help:hover {
    color: var(--global-light-blue);
    text-decoration: none;
}

.main-auth {
    padding: 16px 16px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #f4f4f4;
    text-align: center;
}

.main-auth__heading {
    margin-bottom: 8px;
    font-size: 20px;
}

.main-auth__caption {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 14px;
}

.button--small {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}

.main-auth__button {
    margin-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
}

.button--navy {
    background-color: #3e77aa;
    color: #fff;
}

.main-stores {
    padding: 16px 24px;
    border-bottom: 1px solid #e9e9e9;
}

.main-sidebar__heading {
    margin-bottom: 12px;
    font-size: 14px;
    color: #797878;
}

.main-stores__button img {
    height: 32px;
}

.main-stores__button + .main-stores__button {
    margin-left: calc(var(--global-spacer) * 4);
}

.main-sidebar__block {
    padding: 16px 24px;
    border-bottom: 1px solid #e9e9e9;
}

.side-links {
    padding-top: calc(var(--global-spacer) * 2);
    padding-bottom: calc(var(--global-spacer) * 4);
    border-bottom: 1px solid var(--global-black-10);
}

.side-links__item--heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding-left: calc(var(--global-spacer) * 2);
    padding-right: calc(var(--global-spacer) * 2);
}

.side-links__label {
    font-size: var(--common-font-size);
    color: var(--global-black-60);
}

.side-links__list {
    overflow: hidden;
}

.side-links__item:not(.side-links__item--heading) {
    padding: 2px var(--global-spacer);
}

.side-links__item a {
    display: block;
    padding-left: var(--global-spacer);
    padding-right: var(--global-spacer);
    font-size: var(--common-font-size);
    line-height: 32px;
    color: var(--global-black);
    border-radius: var(--global-spacer);
}

.side-links__item a:hover {
    text-decoration: underline;
}

    /* sidebar subsection end */


/* MAIN PAGE SECTION END */

/* CATALOG PAGE SECTION START */

.catalog {
    margin-bottom: 64px;
}

.layout-settings {
    top: 56px;
    position: sticky;
    z-index: 21;
    transition: .22s ease-in-out;
}

@media (min-width: 1024px) {
    .layout-settings {
        top: 72px;
    }
}

.catalog-settings {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
}

.catalog-settings__sorting {
    position: relative;
    margin-left: auto;
    width: 50%;
}

@media (min-width: 480px) {
    .catalog-settings__sorting {
        width: 205px;
    }
}

@media (min-width: 768px) {
    .catalog-settings__sorting {
        margin-right: 16px;
        flex-shrink: 0;
    }
}

.select-css {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23797878' viewBox='0 0 13 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 7a.956.956 0 0 1-.657-.256l-5.57-5.25a.839.839 0 0 1 0-1.237.968.968 0 0 1 1.312 0L6.5 4.888 11.415.257a.968.968 0 0 1 1.313 0 .839.839 0 0 1 0 1.237l-5.572 5.25A.956.956 0 0 1 6.5 7Z'/%3E%3C/svg%3E");
    background-position: right 12px center;
    background-repeat: no-repeat, repeat;
    background-size: 14px 9px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    box-sizing: border-box;
    color: #221f1f;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding-left: 12px;
    text-align: left;
    width: 100%;
}

@media (hover: hover) {
    .select-css:hover {
        border-color: #a6a5a5;
    }
}

.select-css option {
    font-weight: 400;
}

    /* Context section start */

.content_type_catalog {
    width: 100%;
}

@media (min-width: 1024px) {
    .content_type_catalog {
        width: calc(100% - 250px);
    }
}

.catalog-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog-grid__cell {
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
    position: relative;
    width: 50%;
}

@media (min-width: 1280px) {
    .catalog-grid__cell {
        width: 25%;
    }
}

.catalog-grid__cell_type_slim {
    width: 50%;
}

@media (min-width: 768px) {
    .catalog-grid__cell_type_slim {
        width: 33.33333%;
    }
}

@media (min-width: 1280px) {
    .catalog-grid__cell_type_slim {
        width: 20%;
    }
}

.goods-tile {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.goods-tile-inner {
    position: relative;
    min-height: 100%;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fff;
}

@media (min-width: 480px) {
    .goods-tile-inner {
        padding: 16px;
    }
}

.goods-tile__content {
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.goods-tile__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0px;
    line-height: 16px;
}

@media(min-width: 480px) {
    .goods-tile__label {
        height: 24px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 12px;
        line-height: 24px;
    }
}

.promo-label {
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.promo-label--red ,.promo-label__type_action {
    background-color: #f84147;
}

.goods-tile__actions {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.goods-tile__picture {
    position: relative;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;

    aspect-ratio: 16/9;
}

.goods-tile__picture > img {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.goods-tile__colors {
    height: 20px;
    margin-bottom: 8px;
}

@media (min-width: 1280px) {
    .goods-tile__colors {
        height: 24px;
    }
}

.goods-tile__price--old {
    position: relative;
    height: 18px;
    font-size: 14px;
}

.price--gray {
    color: #797878;
    text-decoration: line-through;
}

.goods-tile__price {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
}

.price--red {
    color: #f84147;
}

p {
    font-size: 14px;
}

.goods-tile__price-value {
    display: inline-block;
    font-size: 20px;
}

@media (min-width: 1280px) {
    .goods-tile__price-value {
        font-size: 24px;
    }
}

.goods-tile__price-currency {
    align-self: flex-end;
    display: inline-block;
    margin-left: 2px;
    font-size: 16px;
}

@media (min-width: 1280px) {
    .goods-tile__price-currency {
        font-size: 16px;
    }
}

.goods-tile__buy-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background-color: #fff;
    border-radius: 4px;
}

.goods-tile__buy-button svg {
    fill: #00a046;

}

.goods-tile__buy-button:hover {
    background-color: #f4faf6;
}

    /* Context section end */

    /* Filters section start */

.sidebar-block {
    display: none;
    padding-left: calc(var(--global-spacer) * 2);
    padding-right: calc(var(--global-spacer) * 2);
    border-right: 1px solid var(--global-black-10);
    border-bottom: 1px solid var(--global-black-10);
}

@media (min-width: 1024px) {
    .sidebar-block {
        display: block;
    }
}

.sidebar-block__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: calc(var(--global-spacer) * 2);
    text-align: left;
    background: none;
    border: none;
    font-size: var(--common-font-size);
    color: var(--link-color);
    cursor: pointer;
}

.sidebar-block_toggle-title {
    margin-right: calc(var(--global-spacer) * 4);
}

.sidebar-block__toggle-icon {
    width: 16px;
    height: 16px;
    margin-left: auto;
    transform: rotate(90deg);
    transition: all .5s ease;
    fill: var(--link-color);
}

.sidebar-block__inner {
    padding-bottom: 21px;
    /* overflow: hidden; */
    overflow: auto;
    max-height: 999px;
}

.scrollbar__layout {
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}

.scrollbar__inner {
    height: 100%;
    overflow-y: scroll;
    /* overflow-y: scroll; */
    width: 251px;
}

.checkbox-filter {
    margin-top: 2px;
}

.checkbox-filter__link {
    position: relative;
    display: block;
    padding-top: calc(var(--global-spacer) * 2);
    padding-bottom: calc(var(--global-spacer) * 2);
    padding-left: calc(var(--global-spacer) * 10);
    padding-right: calc(var(--global-spacer) * 4);
    border-radius: var(--global-spacer);
    font-size: var(--common-font-size);
    color: var(--global-black);
    transition: all .2s ease;
}

.checkbox-filter__link::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--global-black-20);
    border-radius: var(--global-spacer);
    background-color: #fff;
    transition-property: background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

@media (hover: hover) {
    .checkbox-filter__link:hover {
        background-color: var(--global-green-5);
        text-decoration: none;
        color: #333;
    }
}

@media (min-width: 1024px) {
    .checkbox-filter__link {
        padding-right: calc(var(--global-spacer) * 2);
        padding-left: calc(var(--global-spacer) * 8);
    }

    .checkbox-filter__link::before {
        top: calc(var(--global-spacer) * 2 + 2px);
        left: calc(var(--global-spacer) * 2);
        width: 16px;
        height: 16px;
    }
}

.checkbox-filter__link--checked::before {
    border-color: var(--global-light-blue);
    background-color: var(--global-light-blue);
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='12' viewBox='0 0 14 12' xmlns='http://www.w3.org/2000/svg'><path d='M4.10351 8.89548L1.45582 6.09578L0 7.6352L4.13584 12L14 1.56934L12.5159 0L4.10351 8.89548Z' fill='rgb(255, 255, 255)' /></svg>");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 12px;
}

@media (min-width: 1024px) {
    .checkbox-filter__link--checked::before {
        background-size: 10px 8px;
    }
}

/* .checkbox-filter__link--checked::before {
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='12' viewBox='0 0 14 12' xmlns='http://www.w3.org/2000/svg'><path d='M4.10351 8.89548L1.45582 6.09578L0 7.6352L4.13584 12L14 1.56934L12.5159 0L4.10351 8.89548Z' fill='rgb(210, 210, 210)' /></svg>");
} */

.scrollbar__holder {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    box-sizing: border-box;
}

.scrollbar__path {
    position: relative;
    z-index: 1;
    width: 8px;
    height: 100%;
    border-radius: 8px;
    background-color: #e9e9e9;
}

.scrollbar__slider {
    position: absolute;
    width: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #d2d2d2;
    transition: background-color .2s ease-in-out;
}

    /* Filters section end */

/* CATALOG PAGE SECTION END */
